<!-- \\ public_footer.html \\ -->

<footer class="footer" id="footer">
	<!-- 友情链接 -->
	<nav class="footer-links">
		<a href="#" title="技术支持：和众信息科技股份有限公司">和众信息</a><i class="cutline">|</i>
		<a href="#">友情链接</a><i class="cutline">|</i>
		<a href="#">关于我们</a><i class="cutline">|</i>
		<a href="#">使用帮助</a><i class="cutline">|</i>
		<a href="#">意见反馈</a><i class="cutline">|</i>
		<a href="#">联系我们</a>
	</nav>
	<div class="copyright" style="padding: 5px 0 5px 0;">
      Copyright © 2018 <a href="" title="" rseat="">云众创客空间</a>&nbsp;&nbsp;&nbsp;
      <a href="" target="_blank" title="">京ICP证110636号</a> 
    </div>
</footer>

<!-- \\ public_footer.html END \\ -->