<!-- \\ public_nav.html \\ -->
<nav class="header">
	<div class="header-top">
		<div class="container">
			<ul class="nav navbar-nav f-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">下午好，<span class="name">Administration</span> <span class="caret"></span></a>
	              <ul class="dropdown-menu">
                	<li><a href="#">账户信息</a></li>
					<li><a href="#">修改密码</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">帮助</li>
					<li><a href="#">使用说明</a></li>
	              </ul>
	            </li>
	            <li><a href="javascript:;"  id="admin_logout">安全退出</a></li>
			</ul>
		</div>
	</div>
	<div class="container category">
		<a href="#" class="header-logo f-left">
			<img src="__ADMIN__/assets/images/logo.png" alt="">
		</a>
		<ul class="f-right">
			<li class="active"><a href="">首页</a></li>
			<li><a href="">公司信息</a></li>
			<li><a href="">物业管理</a></li>
			<li><a href="">店铺管理</a></li>
			<li><a href="">信息中心</a></li>
		</ul>
	</div>
</nav>

<!-- \\ public_nav.html END \\ -->
